@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula;
}
@theme{
  --color-esthetic: #8cbaba;
}
 @plugin "daisyui/theme" {
   name: "light";
   --color-esthetic: #8cbaba;
 }
