---
---

<header class="navbar bg-base-100 shadow-lg">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">
      <img src="https://masesthetic.com.ar/wp-content/uploads/2020/01/LogoMasEsthetic.png" width="200" height="120" alt="Mas Esthetic" id="logo" data-height-percentage="100" data-actual-width="200" data-actual-height="120">
    </a>
  </div>
  
  <div class="flex-none gap-2">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/" class="link link-hover">Inicio</a></li>
      <li><a href="#contact" class="link link-hover">Contacto</a></li>
      <li>   <details>
          <summary>Servicios</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Método Soprano</a></li>
            <li><a>Tratamientos corporales</a></li>
             <li><a>Medicina Estética</a></li>
              <li><a>Tratamientos faciales</a></li>
          </ul>
        </details></li>
      <li><a href="#about" class="link link-hover">Acerca de</a></li>     
     
    </ul>


    <nav class="hidden md:flex gap-4">
      
      
    </nav>


    <div class="dropdown dropdown-end md:hidden">
      <button class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </button>
      
      <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">Inicio</a></li>
        <li><a href="#about">Acerca de</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>
