
---
import Header from "./Header.astro"
import Aside from "./Aside.astro"
import Content from "./Content.astro"
import Footer from "./Footer.astro"
import Card from "./Card.astro"
import Carousel from "./Carousel.astro"
import WhatsappChatButton from "./WhatsappChatButton.astro"
---

<body>
    <Header></Header>
    <div class="mx-auto grid w-full max-w-6xl gap-6 px-4 py-8 md:grid-cols-12 min-h-screen">
    
       
      <div class="md:col-span-12">
      <Content title="" paragraph="" >      
       <Carousel autoplay={true} interval={4000}/>  
      </Content>
       <WhatsappChatButton />
      <Content title="Título principal 2" paragraph="Esta es una estructura base. Aquí va tu contenido de prueba." sm="sm:grid-cols-4">      
        <Card title="Card 1" paragraph="Texto de ejemplo." width="w-60"></Card>
         <Card title="Card 2" paragraph="Texto de ejemplo." width="w-60"></Card>
          <Card title="Card 1" paragraph="Texto de ejemplo." width="w-60"></Card>
         <Card title="Card 2" paragraph="Texto de ejemplo." width="w-60"></Card>
     </Content>
     <Content title="Título principal 3" paragraph="Esta es una estructura base. Aquí va tu contenido de prueba." sm="sm:grid-cols-4">      
        <Card title="Card 1" paragraph="Texto de ejemplo." width="w-60"></Card>
         <Card title="Card 2" paragraph="Texto de ejemplo." width="w-60"></Card>
          <Card title="Card 1" paragraph="Texto de ejemplo." width="w-60"></Card>
         <Card title="Card 2" paragraph="Texto de ejemplo." width="w-60"></Card>
     </Content>
      </div>
        </div>
    <Footer />
  </body>